html, body {
	height: 100%;
}

body {
	margin: 0 auto;
}

#heroImage {
	width: 100%;
	height: 400px;
	background-color: #E8A0AB;
}

#navbar {
	float: right;
	padding: 1em;
	margin-right: 2%;
	color: whitesmoke;
	text-decoration: none;
	font-size: 30px;
	-webkit-transition: color 1s;
    -moz-transition:    color 1s;
    -ms-transition:     color 1s;
    -o-transition:      color 1s;
    transition:         color 1s;
}

#navbar:hover {
	color: #E8707B;

}

h1 {
	margin: 0 auto;
}

#container {
	background-color: #F5C1C7;
	height: 800px;
}

footer {
	background-color: #FFD6DC;
	height: 400px;
}