html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    overflow-x: hidden;
}

#heroImage {
	width: 100vw;
	height: 100vh; 
	background-image: url(hero.jpg);
	/*'https://codetheweb.blog/assets/img/posts/full-image-hero/image.jpg'*/
}

#navbar {
	float: right;
	padding: 1em;
	margin-right: 2%;
	color: #FEFCFA;
	text-decoration: none;
	font-size: 30px;
	font-family: 'Alegreya Sans', sans-serif;
    font-style: normal;
	font-weight: 900;
    font-style: normal;
	/*CSS transitions*/
	-webkit-transition: color 1s;
	-moz-transition:    color 1s;
    -ms-transition:     color 1s;
    -o-transition:      color 1s;
    transition:         color 1s;
}

#navbar:hover {
	color: #52FFE3;
}

h1 {
	position: relative;
	top: 45%;
	left: 24%;
	font-size: 110px;
	font-family: 'shopping_script_demoregular';
	font-weight: 900;
    font-style: normal;
    color: #FEFCFA;
}

h2 {
	color: #58595b;
	font-family: 'Alegreya Sans', sans-serif;
    font-style: normal;
    font-size: 25px;
    height: 60px;
    position: relative;
    left: 8em;
    bottom: 2em;
    width: 7em;
 }

 h2#aboutPage {
    left: 5em;
}

#container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	background-color: #FEFCFA;
	height: 100%;
	padding-top: 10%;
    padding-bottom: 10%;
}

#art {
	width: 300px;
	height: 300px;
	background-color: #E8707B;
	margin: 2%;
}

section {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	padding-top: 5em;
	padding-bottom: 5em;
}

#imageContainer {
	width: 60em;
	position: relative;
	margin-top: 10%;
	margin-right: 14%;
}

img { 
	width: 100%;
 }

p {
	display: flex;
	justify-content: left;
	color: #58595b;
	font-family: 'Alegreya Sans', sans-serif;
    font-style: normal;
    font-size: 20px;
    width: 55%;
}

p.about {
	margin-left: 18%;
}

#paraCont {
	margin-top: 10%;
}

#content {
	margin-bottom: 15%;
	display: flex;
    flex-direction: row-reverse;
}

.fab, .far {
	font-size: 2.5em;
	color: #FEFCFA;
	margin-top: 2em;
	padding: 10px;
}

#abtHeroImage {
	width: 100vw;
	height: 100vh;
	background-image: url(SwirlingSea.jpg);
}

footer {
	background-color: #58595b;
	text-align: center;
	width: 100%;
	height: 20em;
}